<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../theme/shared-styles.html">

<link rel="import" href="../components/create-event-form.html">

<dom-module id="my-create-event">
    <template>
        <style include="shared-styles">
            :host {
                display: block
            }
        </style>

    <iron-ajax
        id="postEvent"
        method="post"
        url='http://localhost:3000/events'
        content-type='application/json'
        handleAs="json"
        body="[[ event ]]"
        on-response="postEventResponse"
        on-error="postEventError">
    </iron-ajax>
    

    <create-event-form on-new-event-created="postEvent"></create-event-form>
    
    <paper-toast id="toast"></paper-toast>
    <paper-toast id="toastError"></paper-toast>
    </template>

    <script>
       
        class MyCreateEvent extends Polymer.Element {
            
            static get is() {
                return 'my-create-event';
            }

            static get properties() {
                return {
                   event: Object
                    }
                };
            
            
            /** This method sends a post request to API to create a new event
             * @param {Object} event
            */
           postEvent(e) {
               // get all event details from create-event-form component inputs
               this.event = e.detail
               // add an empty 'confirmations' field
               this.event.confirmations = 0 
               // add an empty 'rejections' field
               this.event.rejections = 0
               // generate post request to API
               this.$.postEvent.generateRequest()
           }

           /** This method dispatches a custom event when new event is created to inform main component
           */
           postEventResponse() {
               // Show success message to user
               this.$.toast.show('Great! You have created a new event!')
               // dispatch a custom event to notify main component
               this.dispatchEvent(new CustomEvent('new-event-created', {
                    bubbles: true,
                    composed: true,
                    detail: {
                        
                    }
                }));
           }

            /** This method sends an error message to user when new post event fails
           */
           postEventError(error) {
               this.$.toastError.show('Sorry, couldn´t create your event. Try again later!')
               console.log('There was an error creating the event', error.detail.error)
           }

        }
        window.customElements.define(MyCreateEvent.is, MyCreateEvent);
    </script>
</dom-module>