<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/web-animations-js/web-animations-next.min.html">

<link rel="import" href="../components/event-card.html">
<link rel="import" href="../components/event-map.html">
<link rel="import" href="../theme/shared-styles.html">

<dom-module id="my-calymer-events" >
    <template>
        <style include="shared-styles">
            :host {
                display: block
            }

            paper-dialog.size-position {
                position: fixed;
                top: 16px;
                right: 16px;
                width: 300px;
                height: 300px;
                overflow: auto;
            }
            .filters{
                display:flex;
                width: 100%;
                justify-content: space-evenly;
            }

        </style>

        <iron-ajax 
            url="http://localhost:3000/events" 
            auto 
            last-response="{{events}}" 
            loading="{{loading}}">
        </iron-ajax>

        <container>
            <section>
                <h1>Events</h1>
            </section>
            <section class="filters">
                    <paper-input label="Find events in your city" class="filter" value="{{ city::input }}">
                    </paper-input>
                    <paper-dropdown-menu vertical-align="bottom" horizontal-align="left" label="Category">
                            <paper-listbox slot="dropdown-content" class="dropdown-content" attr-for-selected="item-name" selected="{{ category-filter }}" >
                                <paper-item item-name="arts">Arts</paper-item>
                                <paper-item item-name="business">Business</paper-item>
                                <paper-item item-name="classes">Classes</paper-item>
                                <paper-item item-name="parties">Parties</paper-item>
                                <paper-item item-name="music">Music</paper-item>
                                <paper-item item-name="sports & wellness">Sports & Wellness</paper-item>
                                <paper-item item-name="food & drink">Food & Drink</paper-item>
                            </paper-listbox>
                    </paper-dropdown-menu>
            </section>

            <section>
                <template
                    class="container"
                    is="dom-repeat"
                    items="[[events]]"
                    filter="[[filter(city)]]" 
                    sort="sortDates"
                    as="event"
                >
                    <event-card event="[[event]]"></event-card>
                </template>
            </section>
        </container>

    </template>

    <script>

        class MyCalymerEvents extends Polymer.Element {

            static get is() {
                return 'my-calymer-events';
            }

            static get properties() {
                return {
                    
                    id: Number,
                    city: String,
                    events: Array,
                    loading: Boolean,
                    event: Object
                };
            }

            /** This method compares each event date and returns an Array starting with most recent ones
             * @param {Number} event1
             * @param {Number} event2
             * @return {Number} if returned value is -1 event1 is more recent
            */

            sortDates(event1, event2) {
                var date1 = event1.date
                var date2 = event2.date
                if (date1 < date2) {
                    return -1;
                }
                if (date1 > date2) {
                    return 1;
                }
                return 0;
            }

            /** This method filters the events array by location
             * @param {String} city
             * @return {Array} when city matches event location 
            */

            filter(city) {
                if (!city) {
                    return null;
                } else {
                    city = city.toLowerCase();
                    return function(event) {
                        var location = event.location.toLowerCase();
                        return (location.indexOf(city) != -1) 
                    }
                }
            }
        }

        window.customElements.define(MyCalymerEvents.is, MyCalymerEvents);
    </script>
</dom-module>