<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../../src/components/date-inputs.html">
<link rel="import" href="../theme/shared-styles.html">

<dom-module id="my-update-event">
    <template>
        <style include="shared-styles">
            :host {
                display: block
            }
            
            paper-button.green {
                background-color: var(--paper-green-500); 
                color: white;
            }

        </style>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:id"
        data="{{routeData}}">
    </app-route>
        
    <iron-ajax
        id="getEvent"
        url='http://localhost:3000/events/[[id]]'
        last-response="{{event}}">
    </iron-ajax>

    <iron-ajax
        id="updateEvent"
        url='http://localhost:3000/events/[[id]]'
        method="put"
        content-type="application/json"
        body="[[ event ]]"
        on-response="updateEventResponse"
        on-error="updateEventError">
    </iron-ajax>

    <div class="card">
        <form>
            <paper-input
                required
                auto-validate
                error-message="Required field"
                label="Event Name"
                value="{{ event.name }}">
            </paper-input>
            <paper-input
                required
                auto-validate
                error-message="Required field"
                label="Organizer"
                value="{{ event.organizer }}">
            </paper-input>
            <paper-input
                required
                auto-validate
                maxlength="150"
                error-message="This field must be 150 characters max."
                label="Event Description"
                value="{{ event.description }}">
            </paper-input>
            <paper-input
                required
                auto-validate
                error-message="Required field"
                required
                label="Location"
                value="{{ event.location }}">
            </paper-input>
            <paper-input
                required
                label="Category"
                value="{{ event.category::input }}">
            </paper-input>
            <date-inputs on-date-changed="dateChanged"></date-inputs>  
            <paper-button toggles raised class="custom green" on-click="updateEvent"> Update Event </paper-button>
        </form>
    </div>
    
    <paper-toast id="toast"></paper-toast>
    <paper-toast id="toastError"></paper-toast>

    </template>

    <script>
        
        class MyUpdateEvent extends Polymer.Element {
            
            static get is() {
                return 'my-update-event';
            }

            
            static get properties() {
                return {
                    route: Object,
                    routeData: Object,
                    event: Object,
                    id: Number,
                    date: {
                        type: Object,
                        value: function() {
                            return {}
                        }
                    }
                };
            }

            static get observers() {
                return [
                    'getEventToUpdate(routeData.id)'
                ];
            }

            dateChanged(e) {
               if(!e.detail.path) {
                   return
               }
               this.set(e.detail.path, e.detail.value)
            }

            getEventToUpdate (id) {
                this.id = id
                this.$.getEvent.generateRequest()
            }

            updateEvent() {
                var date = new Date(this.date.year, this.date.month, this.date.hour, this.date.mins)
                this.set('event.date', date)
                this.$.updateEvent.generateRequest()
            }

            updateEventResponse(e) {
                this.$.toast.show('Success! Event Updated!')
                this.dispatchEvent(new CustomEvent('event-updated', {
                    bubbles: true,
                    composed: true,
                    detail: {
                        
                    }
                }));
            }

            updateEventError(error) {
                this.$.toastError.show('Sorry, couldn´t update your event. Try again later.')
                console.log('There was an error updating event', error.detail.error)
            }
        }

        window.customElements.define(MyUpdateEvent.is, MyUpdateEvent);
    </script>
</dom-module>