<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../components/date-inputs.html">
<link rel="import" href="../../src/shared-styles.html">

<dom-module id="create-event-form">
    <template>
        <style include="shared-styles">
            :host {
                display: block
            }
        </style>

    
    <div class="card">
        <form >
            <paper-input
                required
                auto-validate
                error-message="Required field"
                label="Event Name"
                value="{{ event.name::input }}">
            </paper-input>
            <paper-input
                required
                auto-validate
                error-message="Required field"
                label="Organizer"
                value="{{ event.organizer::input }}">
            </paper-input>
            <paper-input
                required
                auto-validate
                maxlength="150"
                error-message="Required field (150 characters max)."
                label="Event Description (150 characters max)"
                value="{{ event.description::input }}">
            </paper-input>
            <paper-input
                required
                auto-validate
                error-message="Required field"
                label="Location"
                value="{{ event.location::input }}">
            </paper-input>
            <paper-input
                label="Category"
                value="{{ event.category::input }}">
            </paper-input>
            <date-inputs on-date-changed="dateChanged"></date-inputs>  
            <paper-button on-click="createEvent">Create Event </paper-button>
        </form>
    </div>

    </template>

    <script>
        
        class CreateEventForm extends Polymer.Element {
            
            static get is() {
                return 'create-event-form';
            }

            
            static get properties() {
                return {
                    event: {
                        type: Object,
                        value: function() {
                            return {}
                        },
                    },
                    date: {
                        type: Object,
                        value: function() {
                            return {}
                        }
                    }
            };
        }
            
            dateChanged(e) {
               if(!e.detail.path) {
                   return
               }
               this.set(e.detail.path, e.detail.value)
            }

            createEvent(e) {
                e.preventDefault()
                var date = new Date(this.date.year, this.date.month, this.date.day, this.date.hour, this.date.mins)
                date = date.getTime()
                this.event.date = date
                this.dispatchEvent(new CustomEvent('new-event-created', {
                    detail: this.event
                }));
            }
  
        }

        window.customElements.define(CreateEventForm.is, CreateEventForm);
    </script>
</dom-module>