<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="show-date">
    <template>
        <style>
            :host {
                display: block
            }
        </style>

        <p> When: [[ date ]]</p>
    </template>

    <script>
        
        class ShowDate extends Polymer.Element {
            
            static get is() {
                return 'show-date';
            }

            static get properties() {
                return {
                    date: String
                };
            }

           static get observers() {
               return [
                   'dateRecibed(date)'
               ];
           }

           dateRecibed(date) {
                const dateString = new Date(date).toDateString()
                this.date = dateString
           }
        }

        window.customElements.define(ShowDate.is, ShowDate);
    </script>
</dom-module>